body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

div .contentDiv{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
div .contentDiv span{
    font-weight: bold;
    font-size: 100%;
}

div .contentDiv .faqHeader{
    font-style: italic;
    font-size: 165%;
    display:block;
    padding:1em 0 1em;  
   padding-left: 1em;
   font-weight: bold;
   text-shadow: grey 0.1em 0.1em 0.2em;  
}


div .contentDiv div{
    width:100%;
    height:100%;
    margin:0.5em 0;
}

div .contentDiv .faqFooter{
    font-size: 100%;
    display:block;
    padding:0.5em 0 0.5em;    
}

div .contentDiv .question{
 color: royalblue    
}

div .contentDiv .banner{
    
    text-align: center;
    background: royalblue none repeat scroll 0 0; 
    color: beige;
}

div .contentDiv .content{
    background: beige none repeat scroll 0 0; 
}
div .contentDiv li{
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0.4em;
}

div .contentDiv p{
    line-height: 120%;
    text-align: justify;
    font-style: italic;
}

div .contentDiv .formDiv{
    padding:1em;
    line-height: 2em;
    color: royalblue;
    font-weight: bold;
    font-size: 105%;
    margin-left: 17em; 
}

div .contentDiv label
{
    display: inline-block;
    clear: left;
    width: 6em;
}


div .contentDiv .input
{
        border-radius: 0.5em;
}

div .contentDiv .button {
    background-color: royalblue;
    border: 0.1em solid royalblue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-style: italic;
    font-size:1em;
    font-weight: bold;
    border-radius: 15px;
    color: beige;
    overflow: hidden;
    transition-duration: 0.2s;
    margin:1em 2.5em 0 1em;
}

div .contentDiv .bottomButton{
    height: 2.3em;
     width: 5em;
}

div .contentDiv .verifyButton{
    height: auto;
     width: auto;
    margin: 0 0 0 0;
}

div .contentDiv .button:hover {
    
    background-color: beige;
    border: 0.1em solid royalblue;
    color: royalblue;
}